# -----------------------
# Node modules
# -----------------------
node_modules/

# -----------------------
# Build output
# -----------------------
dist/
build/

# -----------------------
# Logs
# -----------------------
logs/
*.log
npm-debug.log*

# -----------------------
# ENV FILES (CRITICAL)
# -----------------------
src/config/env.json   
.env
.env.*

# -----------------------
# OS files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# IDE / Editor
# -----------------------
.vscode/
.idea/

# -----------------------
# TypeScript
# -----------------------
*.tsbuildinfo

# -----------------------
# Coverage
# -----------------------
coverage/

# -----------------------
# Cache
# -----------------------
.cache/
.tmp/

# -----------------------
# Security keys
# -----------------------
*.pem
*.key
*.crt